.grid-field {
  position: relative;
  overflow: hidden;
  margin-bottom: $leading;

  &::before {
    background: #c7c7c7;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
  }

  &--1 {
    height: get-grid-field-height($base-grid-field-height);
  }

  &--2 {
    height: get-grid-field-height($base-grid-field-height, 2);
  }
}
